[access]
        inheritFrom = Maintained-Projects
[project]
[access "refs/*"]
        owner = group pyenvmaintainer
	push = +force group pyenvmaintainer
[access "refs/heads/smallpeice"]
        owner = group smallpeicefoo
[access "refs/heads/smallpeice-2014"]
	owner = group smallpeice
	push = group smallpeice
